<div class="row">
    <div class="col-xs-10">
      <h3>Here you can submit a new Product into your order for supplyManagement</h3>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <app-product-item (addtoOrderEvent)="addToOrder($event)"
          *ngFor="let product of products;"
            [product]="product"
            [index]="product._id"></app-product-item>   
       <!-- <app-order-item></app-order-item> -->
       <div class="row">
          <div class="col-sm-2 form-group">
            <div class="row">
              <div class="col-xs-5 col-md-offset-11">
                  <!-- <h3>Suppliers hier.....todo</h3>
            <app-supplier-item
              *ngFor="let supplier of suppliers; let i = index"
              [supplier]="supplier"
              [index]="supplier._id"></app-supplier-item> -->
          </div>
            </div>
        </div>
        </div>
        <h3>Here you can confirm your order with all the products you've added!</h3>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name Order</label>
            <input
              type="text"
              id="order"
              class="form-control"
              name="name"
              ngModel
              required
            >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="amount">Description</label>
            <input
              type="text"
              id="description"
              class="form-control"
              name="description"
              ngModel
              required
            >
            </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3 form-group">
                <label for="amount">Date</label>
                <input
                  type="date"
                  id="date"
                  class="form-control"
                  name="date"
                  ngModel
                >
              </div>
              </div>
      <button class="btn btn-success" type="submit">Add Order</button>
      <hr>
      <h3>Here is a list of products that are currently in your order:</h3>
      <ul class="list-group">
        <a
        class="list-group-item col-xs-3"
        style="cursor: pointer"
        id="orderitem"
        name="orderitem"
        *ngFor="let product of products_in_order; let i = index"
        (click)="onEditItem(i)">
        {{ product.name }}
      </a>
    </ul>
  </form>
  </div>
  </div>
  