<div class="row">
    <div class="col-xs-12">
      <h3>Fill in the form to edit your selected Product!</h3>
      </div>
      </div>
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="name">Productname Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="name">In Stock</label>
            <input
              type="text"
              id="instock"
              formControlName="instock"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="name">Order price</label>
            <input
              type="text"
              id="orderprice"
              formControlName="orderprice"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <div class="form-group">
            <label for="imagePath">Image URL(Optional)</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-warning" >Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
    </form>
  </div>
</div>
