<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-warning col-xs-6" (click)="onNewProduct()">New Product</button>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
      <h3>Here you see all the products that are currently in our database!</h3>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-product-item
      *ngFor="let productEl of products; let i = index"
      [product]="productEl"
      [index]="productEl._id"></app-product-item>
  </div>
</div>

