<div class="row">
    <div class="col-xs-12">
      <h2>{{supplier?.name}}</h2>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group"> 
          </div>
          <br>
        </div>
          <div class="row">
          <div class="col-sm-2 form-group">
            <div class="row">
              <div class="col-xs-5 col-md-offset-11">
                  <h3>Suppliers hier.....todo</h3>
            <app-supplier-item
              *ngFor="let supplier of suppliers; let i = index"
              [supplier]="supplier"
              [index]="supplier._id"></app-supplier-item>
          </div>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              class="btn btn-warning"
              type="submit"
              [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
            <button
              class="btn btn-danger"
              type="button"
              (click)="onDelete()"
              *ngIf="editMode">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  